/* general, reusable */
:root {
  --header-horizontal-padding: 96px;
  --header-element-height: 32px;
  --header-vertical-padding: 16px;

  --subtle-border: 1px solid #ededf0;

  --more-power-block-horizontal-padding: 80px;
  --healthy-internet-horizontal-padding: 48px;
}

.body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.button {
  padding: 0 24px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}

.very-cool-input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #9595a2;
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
  appearance: none;
}
.very-cool-input:focus {
  border-color: #0060df;
  outline: 2px solid rgba(0, 96, 223, 0.5);
}

.generic-blue-link {
  color: #0060df;
}
.generic-blue-link:hover {
  color: #0250BB;
  text-decoration: none;
}


.cool-select {
  background-image: url('../resources/general/dropdown_arrow.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}
.cool-select:focus {
  background-image: url('../resources/general/dropdown_arrow_blue.svg');
}

.clean-check-radio {
  margin: 0;
  vertical-align: 1px;
}

.clean-fieldset { 
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
}

.invisible-h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
}

/* header and it's contents */
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: var(--header-vertical-padding) var(--header-horizontal-padding) 0;
  box-shadow: 0 0 1px 1px rgba(29,17,51,.04),0 0 3px 2px rgba(9,32,77,.12),0 0 2px -3px rgba(29,17,51,.12);
  user-select: none;
  background-color: #fff;
  z-index: 5;
  transition: 400ms;
}

.header-out-of-screen {
  top: -100px;
}

.header__header-content {
  position: relative;
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.header__header-child {
  height: var(--header-element-height);
}

.mozilla-logo__img {
  height: var(--header-element-height);
  display: block;
}

.header-nav {
  padding-bottom: var(--header-vertical-padding);
}

.header-nav__list {
  display: flex;
  height: 32px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header-nav__list-item {
  position: relative;
  margin-left: 32px;
}
.header-nav__list-item:hover .header-nav__list-item-button {
  text-decoration: 3px underline;
  text-underline-offset: 7px;
  cursor: pointer;
}

.header-nav__list-item-button {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 100%;
  height: 100%;
  width: 100%;
  text-align: left;
  border: none;
  background-color: inherit;
  font-weight: bold;
}

.header-nav__dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 24px;
  z-index: 5;
  transition: 200ms;
  opacity: 0;
}
.header-nav__dropdown-container--open {
  opacity: 1;
}

.header-nav__dropdown {
  padding: 15px;
  border-radius: 8px;
  list-style: none;
  box-shadow: 0 16px 24px 2px rgba(29,17,51,.04),0 6px 32px 4px rgba(9,32,77,.12),0 8px 12px -5px rgba(29,17,51,.12);
  background-color: #fff;
}


.header-nav__dropdown-primary-elements-container {
  display: grid;
  grid-template-columns: auto auto;
}

/* make dropdown-containers fit inside the viewport */
@media screen and (max-width: 1200px) {
  .header-nav__dropdown-container-right {
    right: 0;
  }
}
@media screen and (max-width: 980px) {
  .header-nav__dropdown-container-right {
    right: auto;
  }
  .header-nav__dropdown {
    max-height: 60vh;
    overflow: auto;
  }
  .header-nav__dropdown-primary-elements-container {
    grid-template-columns: auto;
  }
}

.header-nav__dropdown-element {
  padding: 15px;
  width: 220px;
  border-radius: inherit;
}
.header-nav__dropdown-element:hover {
  cursor: pointer;
}
.header-nav__dropdown-element:hover {
  background-color: #f9f9f9;
}
.header-nav__dropdown-element:hover .header-nav__dropdown-element-name {
  text-decoration: 2px underline;
}

.header-nav__dropdown-element-inner-container {
  display: flex;
  text-decoration: none;
}

.header-nav__dropdown-element-img {
  width: 32px;
}

.header-nav__dropdown-element-right-side {
  padding-left: 15px;
}

.header-nav__dropdown-element-name {
  margin: 0 0 8px;
  color: black;
  text-decoration: none;
}

.header-nav__dropdown-element-desc {
  margin: 0;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

.header-nav__dropdown-last-element {
  display: block;
  margin: 16px 0;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.header-nav__dropdown-last-element:hover {
  text-decoration: 2px underline;
}

.header-nav__vpn-button-mobile-container {
  display: none;
  text-align: center;
  margin-bottom: 24px;
  height: var(--header-element-height);
}
.header__vpn-button-desktop {
  position: absolute;
  right: 0;
  top: 0;
}
.header__vpn-button {
  display: inline-block;
  padding-top: 8px;
  height: var(--header-element-height);
  line-height: 100%;
  color: #0060df;
  border: 2px solid #0060df;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 100ms;
}
.header__vpn-button:hover {
  background-color: #0250BB;
  border-color: #0250BB;
  color: white;
}

.header__toggle-menu-button {
  display: none;
  border: none;
  background-color: inherit;
  width: var(--header-element-height);
  height: var(--header-element-height);
  border-radius: 3px;
}
.header__toggle-menu-button:hover {
  background-color: #EDEDF0;
  cursor: pointer;
}

/* media queries for header */
@media screen and (max-width: 1010px) {
  :root {
    --header-horizontal-padding: 64px;
  }
  .header-nav__list-item {
    margin-left: 16px;
  }
}

/* nav in header gets moved under the logo */
@media screen and (max-width: 900px) {
  .header__header-content {
    display: block;
  }
  .header-nav {
    padding-top: var(--header-vertical-padding);
    padding-bottom: 0;
  }
  .header-nav__list-item:first-of-type {
    margin: 0;
  }
}

/* header mobile view */
@media screen and (max-width: 760px) {
  :root {
    --header-horizontal-padding: 24px;
  }
  .header {
    padding: var(--header-vertical-padding) var(--header-horizontal-padding);
  }
  .header__header-content {
    display: flex;
    justify-content: space-between;
  }
  .header__button {
    display: none;
  }
  .header-nav {
    display: none;
    position: absolute;
    top: calc(var(--header-element-height) + var(--header-vertical-padding));
    left: calc(-1 * var(--header-horizontal-padding));
    padding: var(--header-horizontal-padding);
    width: calc(100% + var(--header-horizontal-padding) * 2);
    height: 400px;
    background-color: #fff;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0px 19px 24px -14px rgba(29, 17, 51, 0.3);
  }
  .header-nav__list {
    display: block;
  }
  .header-nav__list-item {
    margin: 0;
    font-size: 22px;
    border-top: var(--subtle-border);
  }
  .header-nav__list-item:hover{
    cursor: pointer;
  }
 .header-nav__list-item:hover .header-nav__list-item-button {
    text-decoration: none;
  }
  .header-nav__list-item-button {
    padding: 0;
    position: relative;
    height: 48px;
  }
  .header-nav__list-item-button::after {
    position: absolute;
    right: 0;
    top: 16px;
    content: ' ` ` ` `';
    line-height: 20px;
    color: white;
    transition: 100ms;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%239595a3' stroke-width='2' d='m5 9 7 7 7-7' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 0 -3px no-repeat;
  }
  .header-nav__list-item-button--active::after {
    transform: rotateZ(180deg);
    right: 6px;
    top: 13px;
  }
  .header-nav__dropdown-container {
    position: relative;
    top: auto;
    opacity: 1;
  }
  .header-nav__dropdown-container:hover {
    cursor: default;
  }
  .header-nav__dropdown {
    padding: 0;
    box-shadow: none;
    max-height: none;
  }
  .header-nav__dropdown-element {
    padding: 15px;
    width: auto;
    border-radius: 3px;
  }
  .header-nav__dropdown-element-img {
    width: 24px;
  }  
  .header-nav__dropdown-element-name {
    font-size: 16px;
  }
  .header-nav__dropdown-last-element {
    margin: 0;
    padding-top: 16px;
    font-size: 16px;
    border-top: var(--subtle-border);
  }
  .header__toggle-menu-button {
    display: block;
  }

  .header-nav__vpn-button-mobile-container {
    display: block;
  }

  .header__vpn-button-desktop {
    display: none;
  }

}

/* very small */
@media screen and (max-width: 480px) {
  /* make dropdown elements in header nav menu stack on top of each other */
  .header-nav__dropdown-primary-elements-container {
    display: block;
  }
  .header-nav__dropdown-element {
    border-bottom: var(--subtle-border);
  }
  .header-nav__dropdown-element-desc {
    display: none;
  }
  .header-nav__dropdown-element-inner-container {
    align-items: center;
  }
  .header-nav__dropdown-element-name {
    margin: 0;
  }

}



/* main content */
.the-main {
  margin-top: 160px;
}

.width-cap {
  width: min(1200px, 100%);
  margin: auto;
  box-sizing: border-box;
}

.celebrating-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  margin-top: 60px;
}

.celebrating-block__text-container {
  max-width: 540px;
  margin-right: 48px;
}

.celebrating-block__header {
  font-family: 'Inter', sans-serif;
  margin: 0 0 24px;
  font-size: 66px;
  line-height: 100%;
}

.celebrating-block__paragraph {
  margin-bottom: 24px;
  font-size: 21px;
}

.celebrating-block__button {
  display: inline-block;
  padding: 12px 16px;
  padding-top: 14px;
  background-color: #E7132F;
  text-decoration: none;
}

.celebrating-block__button:hover {
  background: #B80F25;
}

.celebrating-block__img-container {
  max-width: 650px;
}

.celebrating-block__img {
  width: 100%;
  display: block;
}

.more-power-background {
  background-color: #F9F9FB;
}

.more-power-block {
  position: relative;
  display: flex;
  justify-content: right;
  padding: 0 var(--more-power-block-horizontal-padding);
  margin-top: 128px;
}

.more-power-block__img-container {
  display: block;
  position: absolute;
  top: -10%;
  left: var(--more-power-block-horizontal-padding);
  height: 120%;
  width: auto;
  pointer-events: none;
}

.more-power-block__img {
  display: block;
  height: 100%;
}

.more-power-block__text-container {
  width: 600px;
  padding: 96px 0;
  text-align: center;
}

.more-power-block__header {
  margin: 0 0 16px;
  font-size: 48px;
  font-family: 'Zilla Slab', serif;
}

.more-power-block__paragraph {
  line-height: 150%;  
}

/* make content in .more-power-block fit */
@media screen and (max-width: 1120px) {
  .more-power-block__text-container {
    padding: 48px 0;
  }
  .more-power-block__text-container {
    width: 400px;
  }
  .more-power-block__header {
    font-size: 32px;
  }
}
@media screen and (max-width: 840px) {
  :root {
    --more-power-block-horizontal-padding: 48px;
  }
  .more-power-block__text-container {
    width: 300px;
  }
}

.featured-products {
  margin-top: 200px;
}

.featured-products__header {
  margin-bottom: 120px;
  font-family: 'Zilla Slab', serif;
  font-size: 48px;
  text-align: center;
  padding: 0 24px;
}

.featured-products-article {
  display: flex;
  align-items: center;
  padding: 0 80px;
  margin-bottom: 80px;
}

.featured-products-article__main-img-container {
  width: 50%;
  flex-shrink: 0;
}

.featured-products-article__main-img {
  width: 100%;
}

.featured-products-article__text-container {
  padding: 24px 0 24px 64px;
}

.featured-products-article__header-img {
  height: 48px;
}

.featured-products-article__header {
  margin: 24px 0;
  font-family: 'Zilla Slab', sans-serif;
  line-height: 100%;
  font-size: 56px;
}

.featured-products-article__paragraph {
  margin: 0 0 32px;
  font-size: 20px;
}

.featured-products-article__button {
  display: inline-block;
  padding: 8px 24px;
  padding-top: 12px;
  text-decoration: none;
  background-color: #0060df;
  transition: 300ms;
}
.featured-products-article__button:hover {
  background-color: #0250BB;
}

.featured-products-article__button--black {
  background-color: black;
  border: 3px solid black;
}
.featured-products-article__button--black:hover {
  background-color: #ededf0;
  color: black;
}

.healthy-internet-background {
  background-color: #F9F9FB;
}

.healthy-internet {
  position: relative;
  padding: 0 var(--healthy-internet-horizontal-padding);
  margin-top: 128px;
}
.healthy-internet__text-container {
  width: 700px;
  padding: 96px 0;
  text-align: center;
}
.healthy-internet__header {
  margin: 0 0 16px;
  font-family: 'Zilla Slab', serif;
  font-size: 48px;
}
.healthy-internet__img-container {
  position: absolute;
  right: 0;
  top: -10%;
  height: 120%;
  max-width: 420px;
}
.healthy-internet__img {
  display: block;
  height: 100%;
}
.healthy-internet__paragraph {
  line-height: 150%;  
}
.healthy-internet__link {
  color: #0060df;
}
.healthy-internet__link:hover {
  color: #0250BB;
  text-decoration: none;
}

/* make healthy-internet proper size */
@media screen and (max-width: 1270px) {
  .healthy-internet__text-container {
    width: 600px;
  }
  .healthy-internet__header {
    font-size: 32px;
  }
}
@media screen and (max-width: 1100px) {
  .healthy-internet__text-container {
    width: 400px;
    padding: 32px 0;
  }
  .healthy-internet__img-container {
    max-width: 280px;
    right: 20px;
  }
}

.love-web {
  display: flex;
  justify-content: space-evenly;
  margin: 120px auto;
}

.love-web__initially-hidden {
  display: none;
}

.love-web__text-and-form-container {
  max-width: 385px;
}

.love-web__header {
  font-size: 48px;
  margin: 0;
  line-height: 100%;
  font-family: 'Zilla Slab', serif;
}

.love-web__paragraph {
  margin: 16px 0;
  line-height: 150%;
}

.love-web__part {
  display: block;
  margin-bottom: 25px;
}

.love-web__descriptor {
  font-weight: bold;
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
}

.love-web__im-okay-text {
  font-weight: bold;
  font-size: 14px;
}

.love-web__submit {
  background-color: #000;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  border: 2px solid #000;
  transition: 100ms;
}
.love-web__submit:hover {
  color: #000;
  background-color: #ededf0;
}

.firefox-account {
  padding: 64px 0;
  background: #20123A;
}

.firefox-account-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  font-family: Inter, sans-serif;
}

.firefox-account-content__left {
  display: flex;
  align-items: center;
}

.firefox-account-content__img {
  width: 64px;
  display: inline-block;
}

.firefox-account-content__header {
  margin: 0;
  padding: 0 32px;
  max-width: 500px;
  color: #fff;
  font-size: 28px;
}

.firefox-account-content__button {
  display: inline-block;
  padding: 10px 24px;
  background-color: #0060df;
  flex-shrink: 0;
}
.firefox-account-content__button:hover {
  background-color: #0250BB;
}


/* media queries for main */
@media screen and (max-width: 1010px) {
  .celebrating-block__header {
    font-size: 48px;
  }

  .featured-products-article {
    flex-wrap: wrap-reverse;
    text-align: center;
  }
  
  .featured-products-article__main-img-container {
    width: 100%;
  }
  
  .featured-products-article__text-container {
    padding: 0;
    margin-bottom: 32px;
  }
}


/* footer */
.the-footer {
  padding: 80px 48px;
  background-color: #000;
  color: white;
}

.the-footer__logo-container {
  display: block;
  width: 100px;
  margin-bottom: 24px;
}

.the-footer__logo {
  width: 100%;
  display: block;
}

.the-footer__first-nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-bottom: 48px;
  border-bottom: 1px solid #42425a;
}

.the-footer__first-nav-header {
  font-family: 'Zilla Slab', sans-serif;
}

.the-footer__first-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-footer__first-nav-list-item:not(.the-footer__first-nav-list-item:last-child) {
  margin-bottom: 10px;
}

.the-footer__first-nav-link {
  text-decoration: none;
  color: white;
}
.the-footer__first-nav-link:hover {
  text-decoration: underline;
}

.the-footer__follow-header {
  font-weight: normal;
  font-size: 14px;
}

.the-footer__follow-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-footer__icon-container {
  display: block;
  width: 16px;
  height: 16px;
}

.the-footer-icon {
  width: 100%;
  height: 100%;
}

.the-footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.the-footer__second-nav {
  font-size: 12px;
  max-width: 50vw;
}

.the-footer__second-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.the-footer__second-nav-list-item {
  margin-bottom: 16px;
}

.the-footer__second-nav-list-item:not(.the-footer__second-nav-list-item:last-of-type) {
  margin-right: 16px;
}

.the-footer__second-nav-link {
  color: white;
}
.the-footer__second-nav-link:hover {
  text-decoration: none;
}

.the-footer__second-nav-paragraph { 
  line-height: 150%;
}

.the-footer__language-link {
  color: #fff;
}
.the-footer__language-link:hover {
  text-decoration: none;
}

.the-footer__language-select {
  width: 250px;
  margin-top: 8px;
}


@media screen and (max-width: 900px) {
  .the-footer__first-nav {
    grid-template-columns: auto auto;
  }
  .the-footer__follow-list {
    display: flex;
  }
  .the-footer__follow-list-item {
    margin-right: 16px;
  }
}

/* mobile view */
@media screen and (max-width: 760px) {
  .celebrating-block {
    display: block;
    padding: 0 24px;
    text-align: center;
  }
  .celebrating-block__text-container {
    max-width: none;
    margin: 0 0 48px;
  }
  .celebrating-block__header {
    font-size: 40px;
  } 
  .celebrating-block__paragraph {
    font-size: 17px;
    line-height: 120%;
  }
  .celebrating-block__img-container {
    max-width: none;
  }

  .more-power-block {
    flex-direction: column;
    align-items: center;
    padding: 48px;
  }
  
  .more-power-block__img-container {
    position: static;
    height: auto;
    pointer-events: all;
    max-width: 400px;
    margin-bottom: 48px;
  }

  .more-power-block__img {
    width: 100%;
  }
  
  .more-power-block__text-container {
    width: auto;
    padding: 0;
  }
  
  .more-power-block__header {
    font-size: 48px;
  }

  .featured-products-article {
    padding: 0 24px;
  }

  .featured-products-article__header {
    font-size: 42px;
  }
  
  .healthy-internet {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 48px; 
    padding-bottom: 48px;
  }
  .healthy-internet__text-container {
    width: auto;
    padding: 0;
    margin-top: 48px;
  }
  .healthy-internet__header {
    font-size: 48px;
  }
  .healthy-internet__img-container {
    position: static;
    height: auto;
    max-width: 400px;
  }
  .healthy-internet__img {
    width: 100%;
    height: auto;
  }

  .love-web {
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
  }

  .love-web__img-container {
    width: 280px;
  }

  .firefox-account-content {
    display: block;
    text-align: center;
  }
  
  .firefox-account-content__left {
    display: block;
  }
  
  .firefox-account-content__header {
    margin: 24px 0;
    max-width: none;
  }

  .the-footer__bottom {
    flex-direction: column-reverse;
  }

  .the-footer__second-nav {
    max-width: none;
  }

  .the-footer__language-select {
    margin-bottom: 32px;
  }

}